body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.NavList {
  overflow: hidden;
  background-color: #000;
}
.NavList a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.NavList a:hover {
  color: #089;
}
.active {
  background-color: #ddd;
  color: white;
}
.NavList .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .NavList a {
    display: none;
  }
  .NavList a.icon {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .NavList.responsive {
    position: relative;
  }
  .NavList.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .NavList.responsive a:not(:last-child) {
    position: relative;
    top: 52px;
    float: none;
    text-align: left;
    display: block;
  }
  .NavList {
    overflow-y: scroll;
  }
}
li {
  font-size: 15px;
}